.App {
  text-align: center;
}

* {
  margin: 0;
}

#header-info{
  height: 150px;
  display: flex;
  justify-content: center;
  gap: 150px;
  align-content: center;
}

#header-title{
  letter-spacing: 10px;
  font-weight: 700;
  font-size: 36px;
  margin: 30px 0;
  color: #fff;
}

#toggle-icon{
  width: 50px;
  height: 50px;
  margin: 30px 0;
}

form {
  width: 60%;
  margin: 0 auto;
  height: 75px;
}

#todo {
  border: 3px solid white;
  border-radius: 10px;
  height: 50%;
  margin-right: 30px;
  width: 40%;
  padding-left: 15px;
}

#submit {
  border: 3px solid white;
  border-radius: 10px;
  height: 50%;
}

.todoList {
  margin-block: 20px;
  width: 60%;
  margin-inline: auto;
  border-radius: 15px;
}

/* Todo Component */
.todo_item {
  height: 60px;
  border-bottom: 1px solid black;
  margin: 0 auto;
  display: flex;
  padding: 0 10px;
  position: relative;
  align-items: center;
}

.filters{
  display: flex;
  height: 50px;
  margin: 0 auto;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
}

#check_circle{
  background-image: linear-gradient(
    to bottom right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
}

#check, #check_circle{
  border-radius: 50%;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  margin-right: 30px;
}

#check:hover, #check_circle:hover{
  cursor: pointer;
}

#delete {
  position: absolute;
  right: 5px;
}

/* .filter-btn:hover{
  cursor: pointer;
} */

/* Media queries */
@media screen and (max-width: 400px){
  form{
    width: 90%;
  }

  .todoList{
    width: 90%;
  }

  .filters{
    gap: 5px;
  }
}