.App {
  text-align: center;
}

* {
  margin: 0;
}

#header-info{
  height: 150px;
  display: flex;
  justify-content: center;
  gap: 150px;
  align-content: center;
}

#header-title{
  letter-spacing: 10px;
  font-weight: 700;
  font-size: 36px;
  margin: 30px 0;
  color: #fff;
}

#toggle-icon{
  width: 50px;
  height: 50px;
  margin: 30px 0;
}

form {
  width: 60%;
  margin: 0 auto;
  height: 50px;
}

#todo {
  border: 3px solid white;
  border-radius: 10px;
  height: 50%;
  margin-right: 30px;
  width: 40%;
}

button{
  border: 3px solid white;
  border-radius: 10px;
  height: 50%;
  
}

.todo_item {
  width: 60%;
  height: 50px;
  border-bottom: 3px solid black;
  margin: 0 auto;
}
/* ::placeholder {
  
} */